<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>HashFactory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="admin/admin-header :: menu"></div>

<div class="container">
    <div class="row">
        <br/>
        <a class="btn btn-primary pull-right" href="/admin/newitem">Добавить</a>
        <br/><br/>
        <table class="table table-striped" id="posts_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Активен</th>
                <th>Наименование</th>
                <th>Кол-во</th>
                <!--<th>Сбросить пароль</th>-->
                <th>Цена</th>
                <th>Приоритет</th>
                <th> <i class="glyphicon glyphicon-edit"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="asic : ${asics}">
                <td class="message" data-th-text="${asic.id}"></td>
                <td class="message" data-th-text="${asic.active}"></td>
                <td class="message" data-th-text="${asic.name}"></td>
                <td class="message" data-th-text="${asic.amount}"></td>
                <td class="message" data-th-text="${asic.price}"></td>
                <td class="message" data-th-text="${asic.prioritet}"></td>

                <!--<td>-->
                    <!--<a th:href="@{'/admin/newpassword/{email}'(email=${user.email})}" class="delete" onclick="recovery()">-->
                        <!--<span class="fa-stack">-->
                            <!--<i class="glyphicon glyphicon-repeat"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a th:href="@{'/admin/edit/{id}'(id=${user.id})}" class="delete">-->
                        <!--<span class="fa-stack">-->
                            <!--<i class="glyphicon glyphicon-pencil"></i>-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</td>-->
                <td>
                    <a th:href="@{'/admin/item/{id}'(id=${asic.id})}" class="edit" >
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>