<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>HashFactory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="admin/admin-header :: menu"></div>

<div class="container">
    <div class="row">
        <br/>
        <form method="post" name="edit_form" id="comment_form" action="/admin/edit" role="form">
            <div class="form-group">
                <input class="form-control" type="hidden" id="id" name="id" th:value="${user.id}" required/>
                <label for="name">Имя</label>
                <input class="form-control" type="text" id="name" name="name"  th:value="${user.name}" required/>
                <br/>
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email"  th:value="${user.email}" required/>
                <br/>
                <label for="email">Активен</label>
                <input class="form-control" type="number" id="active" name="active"  th:value="${user.active}" required/>
                <label for="typeClient">Тип клиента (0-покупатель, 1-инвестор, 2-партнёр, 3-админ)</label>
                <input class="form-control" type="number" id="typeClient" name="typeClient"  th:value="${user.typeClient}" required/>
            </div>
            <button type="submit" id="submit" class="btn btn-primary pull-right">Сохранить</button>
        </form>
        <br/><br/>
        <div class="alert alert-danger text-center"><button type="button" id="recovery" onclick="recovery()" class="btn btn-warning pull-center">Сбросить пароль</button></div>

    </div>
</div>

<script src="/dist/js/jquery.min.js"></script>

<script type="text/javascript">


    function recovery() {

        var email = $("#email").val();
        console.log("click!");
        $.ajax({
            type: 'POST',
            url: '/recovery',
            data: 'email='+email,
            success: function (data) {
                alert("Для "+email+" пароль сброшен и отправленно письмо для восстановления");
            },
            error: function (xhr, str) {
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
    }
</script>
</body>
</html>