<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"/>
    <title>HashFactory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="admin/admin-header :: menu"></div>
<div class="container">
    <div class="row">
        <br/>
        <form method="get" name="newuser_form" id="comment_form" action="/admin/adduser" role="form">
            <div class="form-group">
                <label for="name">Имя</label>
                <input class="form-control" id="name" name="name" required/>
                <br/>
                <label for="email">Email</label>
                <input class="form-control" id="email" name="email" required/>
                <label for="typeClient">Тип клиента (0-покупатель, 1-инвестор, 2-партнёр, 3-админ</label>
                <input class="form-control" id="typeClient" name="typeClient" required value="0"/>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
</body>
</html>