<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>HashFactory</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/dashboard.css" rel="stylesheet">
    <link href="/dist/css/footer.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:insert="cabinet/menu :: menu (selected='2')"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Показатели</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>Алгоритмы</h4>
                    <span class="text-muted">Июль 2017</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>Алгоритмы</h4>
                    <span class="text-muted">Июль 2017</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>Алгоритмы</h4>
                    <span class="text-muted">Июль 2017</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
                         alt="Generic placeholder thumbnail">
                    <h4>Алгоритмы</h4>
                    <span class="text-muted">Июль 2017</span>
                </div>
            </div>

            <h2 class="sub-header">Обслуживаемые фермы</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ферма</th>
                        <th>Температура</th>
                        <th>Доходность в день</th>
                        <th>Доступ</th>
                        <th>Анализ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ферма #151 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #152 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">63 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #153 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="orange">72 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #155 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #203 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="red">82 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #204 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #205 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">65 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #233 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #234 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #235 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #236 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #237 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #238 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #239 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ферма #240 (gtx1060 6gb x8)</td>
                        <td>
                            <font color="green">68 &#x2103;</font>
                        </td>
                        <td>810 руб.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-file"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:insert="cabinet/menu-footer :: menu-footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
</body>

</html>
