<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>HashFactory</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/dashboard.css" rel="stylesheet">
    <link href="/dist/css/footer.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:insert="cabinet/menu :: menu (selected='20')"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="col-xs-1 col-md-1 col-sm-1"></div>
            <div class="col-xs-8 col-md-8 col-sm-8">
                <div class="alert alert-info" style="color:black;" >
                    <h3 class="text-center">Инвестиционное предложение</h3><br/><br/>
                    <p>Наша команда занимается майнингом криптовалют с 2015 года, а также разработкой программного обеспечения на технологии блокчейн. Сейчас имея уникальный опыт, мы готовы оказывать услуги организации майнинга нашим клиентам.</p><br/>

                    <p>Почему именно майнинг, а не трейдинг криптовалютами или ICO?</p><br/>
                    <p>Рынок криптовалют пока молод и мал по объему, волатильность, взломы и отсутствие регулирование делает трейдинг на сегодня рискованным видом инвестиций. Основная доля проектов ICO (около 95%) на сегодня не имеют перспектив и основаны на «хайпе» вокруг блокчейна, ставя главной задачей собрать деньги и затем благополучно «сдуться». Майнинг сейчас является наименее рискованным способом инвестирование в области блокчейн, средняя окупаемость оборудования около 10-12 месяцев, а порой доходит до 2-3 месяцев как весной 2016 и 2017 годах (400-500% годовых), и при этом срок актуальности оборудования для майнинга 2-3 года. </p><br/>
                    <p>Сегодня наша команда предлагает вам инвестировать в покупку оборудования для майнинг криптовалют. Для вас мы предоставляем услугу "под ключ", в которую включена закупка оборудования напрямую от китайских производителей, сборка, настройка, хранение, и последующие обслуживание и управление майнингом криптовалют. Для  повышение прибыльности майнинга мы привлекаем профессиональных брокеров на рынки криптовалют. Наши помещения находяться в Ленинградской и Иркутской области, это специально подготовленные помещения для работы майнинг оборудования, проведены электро-инженерные работы, реализована климат система. Бесперебойную работу оборудования  24/7 обеспечивает квалифицированный персонал. Территории круглосуточно охраняются, для вашего контроля установлены веб-камеры в помещениях с вашим оборудованием. И поскольку майнинг к сожалению сейчас находиться в “серой” зоне регулирования и законов в России, мы даем гарантии о неразглашение ваших данных.</p><br/>

                    <p>Основной нашей целью мы ставим не только помочь клиентам начать инвестировать в майнинг криптовалют, но и создать на территории России крупнейшего пула вычислительных мощностей и развития технологии блокчейн в целом. Поскольку в основе технологии блокчейн лежит децентрализация, значительное влияние на развитие, работу и процедуры консенсуса сети влияет “доля” вычислительных мощностей. Первыми это поняли китайские майнеры, начав создавать оборудование и крупные майнинг заводы, тем самым став основными выгодополучателями в сети криптовалюты биткоин и некоторых других. России сейчас важно не отставать от развития в этой отрасли, и использовать в том числе наши преимущества - талантливых программистов для разработки ПО на технологии блокчейн и дешевую электроэнергию для майнинга.</p><br/>
                    <p>Полученная нами прибыль идет на развитие и модернизацию наших дата-центров для увеличения прибыли клиентов и сроков окупаемости. В том числе, нами ведется разработка специфического ПО для майнинга, например собственного майнера и пула, что позволит сэкономить на комиссии 2-3% от майнинга.</p><br/>
                    <p>Также мы активно сотрудничаем с такими проектами как <a href="https://bits.media/news/proekt-golem-na-baze-ethereum-detsentralizovannyy-rynok-arendy-vychislitelnykh-moshchnostey/" target="_blank">GOLEM</a> и <a href="https://medium.com/pandoraboxchain/world-decentralized-ai-on-blockchain-with-cognitive-mining-and-open-markets-for-data-and-algorithms-4e192554024a" target="_blank">PANDORA</a>, проекты в области децентрализованных “полезных” вычислений, и даже если майнинг станет мало доходным, вычислительные мощности можно сдавать в аренду для целей обучения искусственного интеллекта, анализа больших данных, рендеринга видео и графики, вычислений для игровых серверов.</p><br/><br/><br/>
                    <br/>
                    <p class="text-right"><a href="/cabinet/invest_calc"> В разделе "Расчеты" вы можете примерно оценить размер инвестиций, прибыль и сроки окупаемости </a></p><br/><br/><br/><br/>
                </div>

            </div>
            <div class="col-xs-1 col-md-1 col-sm-1"></div>
            <div class="col-xs-2 col-md-2 col-sm-2">
                <img src="/dist/image/invest.png" />

            </div>
        </div>

    </div>

</div>

<div th:insert="cabinet/menu-footer :: menu-footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
</body>

</html>
