<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>HashFactory</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/dashboard.css" rel="stylesheet">
    <link href="/dist/css/footer.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/dist/image/logo.png" style="top-padding:0px" /></a>
            <!--            <h2 style="color:white">Добро пожаловать <b th:text="${user.name}"></b></h2>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color:green"><b>BTC $2565.27 1.92%</b></a></li>
                <li><a href="#" style="color:red"><b>ETH $253.35 -1.51%</b></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b  th:text="${user.name}">Пользователь</b> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/settings">Настройки</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Поиск...">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/cabinet/dashboard">Обзор</a></li>
                <li><a href="/cabinet/ferms">Фермы</a></li>
                <li><a href="/cabinet/dashboard">Видеонаблюдение</a></li>
                <li><a href="/cabinet/dashboard">Анализ доходности</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/cabinet/dashboard">Ваш брокер</a></li>
                <li><a href="/cabinet/dashboard">Анализ рынка криптовалют</a></li>
                <li><a href="/cabinet/dashboard">Новости</a></li>
                <li><a href="/cabinet/dashboard">Статьи</a></li>
                <li><a href="/cabinet/dashboard">Выплаты</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/cabinet/dashboard">Бизнес-модель</a></li>
                <li><a href="/cabinet/dashboard">Новости компании</a></li>
                <li><a href="/cabinet/dashboard">Обратная связь</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="page-header">
                    <div class="alert alert-warning">
                        <h2>Раздел в процессе заполнения</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © 2017, Промышленный майнинг в России
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                    <a href="www.hashfactory.ru">www.hashfactory.ru</a> | <a target="_blank" href="mailto:admin@hashfactory.ru">admin@hashfactory.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
</body>

</html>
