<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HashFactory</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/dist/css/signin.css" rel="stylesheet"/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<h1>О НАС</h1>
</div>
</body>
</html>