<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HashFactory</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/dist/css/signin.css" rel="stylesheet"/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="/dist/css/footer.css" rel="stylesheet"/>
</head>

<body>
<div th:insert="header :: top (hostactive='',shopactive='', aboutusactive='dropdown active')"></div>
<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="alert alert-warning">
                <h2>Раздел в процессе заполнения</h2>
            </div>

        </div>
    </div>
</div>
<!--footer-->
<div th:insert="footer :: bottom"></div>
</body>
</html>