<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HashFactory</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/dist/css/signin.css" rel="stylesheet"/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="/dist/css/font-awesome.css" rel="stylesheet"/>
    <link href="/dist/css/footer.css" rel="stylesheet"/>
    <link href="/dist/css/fa-viber.css" rel="stylesheet">
</head>

<body>
<div th:insert="header :: top (hostactive='',shopactive='', aboutusactive='dropdown active')"></div>
<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="alert alert-info">
                <h3><b>Наши контакты<b></b></h3><br/>
                <h4><b>Контактный телефон (c 9 до 21 по Москве):</b> 8 800 100 5979 (звонок по России бесплатно)</h4>
                <h4><b>Электронная почта:</b> <a href="mailto:admin@hashfactory.ru">info@hashfactory.ru</a></h4>
                <h4><b>Viber, Whatsapp, Telegram:</b> 8 926 694 2468 </h4>
                <h4><b>Twitter:</b> <a href="https://twitter.com/hashfactory_ru">twitter@hashfactory_ru</a></h4>
            </div>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

        </div>
    </div>
</div>
<!--footer-->
<div th:insert="footer :: bottom"></div>
</body>
</html>