<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bottom">
    <footer class="footer1">
        <div class="container">

            <div class="row">
                <!-- row -->
                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Информация</h1>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> Майнинг</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Социальные сети</h1>
                            <ul>
                                <li><a href="https://twitter.com/hashfactory_ru"><i
                                        class="fa fa-angle-double-right"></i>
                                    @hashfactory_ru</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-3 col-md-3">
                    <!-- widgets column left -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_nav_menu">
                            <!-- widgets list -->
                            <h1 class="title-widget">Карта сайта</h1>
                            <ul>
                                <li><a href="/cabinet/dashboard"><i class="fa fa-angle-double-right"></i> Личный кабинет</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- widgets column left end -->
                <div class="col-lg-3 col-md-3">
                    <!-- widgets column center -->
                    <ul class="list-unstyled clear-margins">
                        <!-- widgets -->
                        <li class="widget-container widget_recent_news">
                            <!-- widgets list -->
                            <h1 class="title-widget">Контакты</h1>
                            <div class="footerp">
                                <h2 class="title-median">ООО "ХэшЗавод"</h2>
                                <p><b>Email:</b> <a href="mailto:info@hashfactory.ru">info@hashfactory.ru</a></p>
                                <p><b>Телефон</b>
                                    <b style="color:#ffc106;">(с 9-00 до 21-00):</b> 8 800 2000 600 </p>

                            </div>
                            <div class="social-icons">
                                <ul class="nomargin">
                                    <a href="https://www.facebook.com/bootsnipp"><i
                                            class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                    <a href="https://twitter.com/bootsnipp"><i
                                            class="fa fa-twitter-square fa-3x social-tw"
                                            id="social"></i></a>
                                    <a href="https://plus.google.com/+Bootsnipp-page"><i
                                            class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                    <a href="mailto:bootsnipp@gmail.com"><i
                                            class="fa fa-envelope-square fa-3x social-em"
                                            id="social"></i></a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--header-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="copyright">
                        © 2017, Промышленный майнинг в России
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="design">
                        <a href="www.hashfactory.ru">www.hashfactory.ru</a> | <a target="_blank"
                                                                                 href="mailto:admin@hashfactory.ru">admin@hashfactory.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>