<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HashFactory</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/dist/css/signin.css" rel="stylesheet"/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="/dist/css/font-awesome.css" rel="stylesheet"/>
    <link href="/dist/css/footer.css" rel="stylesheet"/>
    <link href="/dist/css/fa-viber.css" rel="stylesheet">
</head>

<body>
<div th:insert="header :: top (hostactive='',shopactive='', aboutusactive='dropdown active')"></div>

<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="alert alert-success">
                <h2>У вас есть вопросы? Здесь мы собрали ответы на наиболее частые из них</h2>
            </div>

        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <b>Где вы покупаете оборудования для майнинга?</b>
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Основное оборудование видеокарты и айсики мы закупаем на прямую у производителей
                            в Китае оптовыми партиями, с минимальной наценкой и гарантией завода
                            изготовителя. Среднее время отгрузки и доставки в Россию 14-20 дней. Для заказа
                            более крупных партий, этот срок может быть увеличин до 6-8 недель. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <b>Могу ли я забрать своё оборудование?</b>
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Да, конечно, оборудование является вашим имуществом. Мы лишь предоставляем услуги
                            закупки, доставки и ответственного хранения. Но договором предусматривается, что
                            в случаи передачи вам оборудования, вы уплачиваете разницу между нашей ценой
                            закупки и средней розничной ценой. После 18 месяцев хранения, вы можете забрать
                            своё оборудование без доплаты.
                        </p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <b>Вы страхуете оборудование?</b>
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Да, такая возможность предусмотрена, хотя и не обязательно. Наши площадки для
                            размещения ферм круглосуточно охраняется, реализована электро-инженерная и
                            противопожарная безопасность. Также на всё оборудование в случаи выхода из
                            строя, предусмотрена гарантия производителя.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            <b>Почему на вашем логотипе изображен биткоин и видеокарты? Ведь на GPU добывают
                                альткоины</b>
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Да, мы значем что на GPU добываются альткоины,а биткоины на айсиках. Но никто вам не мешает
                            конвертировать добытые альткоины в биткоин
                            ,сейчас самую известную и дорогую криптовалюту. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--footer-->
<div th:insert="footer :: bottom"></div>
</body>
</html>