<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HashFactory</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/dist/css/signin.css" rel="stylesheet"/>
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/dist/js/shop.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="/dist/css/font-awesome.css" rel="stylesheet"/>
    <link href="/dist/css/footer.css" rel="stylesheet"/>
    <link href="/dist/css/fa-viber.css" rel="stylesheet">
</head>

<body>
<div th:insert="header :: top (hostactive='',shopactive='active', aboutusactive='dropdown ')"></div>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active" id="tab1" onclick="click_tab('#tab1')"><a href="#">ASIC майнеры</a></li>
                <li id="tab2" onclick="click_tab('#tab2')"><a href="#">GPU майнеры</a></li>
                <li id="tab3" onclick="click_tab('#tab3')"><a href="#">Видеокарты</a></li>
                <li id="tab4" onclick="click_tab('#tab4')"><a href="#">Блоки питания</a></li>
                <li id="tab5" onclick="click_tab('#tab5')"><a href="#">Комплектующие</a></li>
                <li id="tab6" class="pull-right" onclick="click_tab('#tab6')"><a href="#"><span
                        class="glyphicon glyphicon-shopping-cart"></span> Корзина <span id="buy" class="badge">0</span></a></li>
                <!--                      <li><a href="#">Корзина <span class="badge">3</span></a></li>-->
            </ul>
        </div>

    </div>
    <br/>
    <div class="row" id="tab1">

        <div th:if="${(asics==null) || (asics.isEmpty())}" class="col-md-12 col-sm-12">
            <div class="page-header">
                <div class="alert alert-info">
                    <h2>Товар в данной категории отсутствует!</h2>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-sm-6" th:each="asic : ${asics}" >
            <div class="thumbnail">
                <h3 class=" text-right">
                    <span th:if="${(asic.amount > asic.reserve) && (asic.reserve!=0)}" class="label label-success" >&nbsp;На складе&nbsp;</span>
                    <span th:if="${asic.reserve == 0}" class="label label-info">&nbsp;Под заказ&nbsp;</span>
                    <span th:if="${(asic.amount <= asic.reserve) && (asic.reserve!=0) && (asic.amount!=0)}" class="label label-warning">&nbsp;На складе остатки&nbsp;</span>
                    <span th:if="${(asic.amount == 0) && (asic.reserve!=0)}" class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>
                    &nbsp;</h3>
                <div class="text-center"><img  th:src="@{'/image/'+${asic.id}}" th:alt="${asic.id}" width="340" height="300"></div>
                <div class="caption text-center">
                    <h3><b th:text="${asic.name}">Antminer S9</b></h3>
                    <p><b>Цена</b>  <div th:text="${asic.price}"/> рублей</p>
                    <br/>
                    <p>
                    <div onclick="show(1);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span> Подробней</div>
                    <div onclick="add_buy(1);" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="tab2">

        <div th:if="${(ferms==null) || (ferms.isEmpty())}" class="col-md-12 col-sm-12">
            <div class="page-header">
                <div class="alert alert-info">
                    <h2>Товар в данной категории отсутствует!</h2>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6" th:each="ferm : ${ferms}" >
            <div class="thumbnail">
                <h3 class=" text-right">
                    <span th:if="${(ferm.amount > ferm.reserve) && (ferm.reserve!=0)}" class="label label-success" >&nbsp;На складе&nbsp;</span>
                    <span th:if="${ferm.reserve == 0}" class="label label-info">&nbsp;Под заказ&nbsp;</span>
                    <span th:if="${(ferm.amount <= ferm.reserve) && (ferm.reserve!=0) && (ferm.amount!=0)}" class="label label-warning">&nbsp;На складе остатки&nbsp;</span>
                    <span th:if="${(ferm.amount == 0) && (ferm.reserve!=0)}" class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>
                    &nbsp;</h3>
                <div class="text-center"><img  th:src="@{'/image/'+${ferm.id}}" th:alt="${ferm.id}" width="340" height="300"></div>
                <div class="caption text-center">
                    <h3><b th:text="${ferm.name}">Antminer S9</b></h3>
                    <p><b>Цена</b>  <div th:text="${ferm.price}"/> рублей</p>
                    <br/>
                    <p>
                    <div onclick="show(1);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span> Подробней</div>
                    <div onclick="add_buy(1);" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="tab3">

        <div th:if="${(gpus==null) || (gpus.isEmpty())}" class="col-md-12 col-sm-12">
            <div class="page-header">
                <div class="alert alert-info">
                    <h2>Товар в данной категории отсутствует!</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6" th:each="gpu : ${gpus}" >
            <div class="thumbnail">
                <h3 class=" text-right">
                    <span th:if="${(gpu.amount > gpu.reserve) && (gpu.reserve!=0)}" class="label label-success" >&nbsp;На складе&nbsp;</span>
                    <span th:if="${gpu.reserve == 0}" class="label label-info">&nbsp;Под заказ&nbsp;</span>
                    <span th:if="${(gpu.amount <= gpu.reserve) && (gpu.reserve!=0) && (gpu.amount!=0)}" class="label label-warning">&nbsp;На складе остатки&nbsp;</span>
                    <span th:if="${(gpu.amount == 0) && (gpu.reserve!=0)}" class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>
                    &nbsp;</h3>
                <div class="text-center"><img  th:src="@{'/image/'+${gpu.id}}" th:alt="${gpu.id}" width="340" height="300"></div>
                <div class="caption text-center">
                    <h3><b th:text="${gpu.name}">Antminer S9</b></h3>
                    <p><b>Цена</b>  <div th:text="${gpu.price}"/> рублей</p>
                    <br/>
                    <p>
                    <div onclick="show(1);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span> Подробней</div>
                    <div onclick="add_buy(1);" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab4">
        <div th:if="${(psus==null) || (psus.isEmpty())}" class="col-md-12 col-sm-12">
            <div class="page-header">
                <div class="alert alert-info">
                    <h2>Товар в данной категории отсутствует!</h2>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6" th:each="psu : ${psus}" >
            <div class="thumbnail">
                <h3 class=" text-right">
                    <span th:if="${(psu.amount > psu.reserve) && (psu.reserve!=0)}" class="label label-success" >&nbsp;На складе&nbsp;</span>
                    <span th:if="${psu.reserve == 0}" class="label label-info">&nbsp;Под заказ&nbsp;</span>
                    <span th:if="${(psu.amount <= psu.reserve) && (psu.reserve!=0) && (psu.amount!=0)}" class="label label-warning">&nbsp;На складе остатки&nbsp;</span>
                    <span th:if="${(psu.amount == 0) && (psu.reserve!=0)}" class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>
                    &nbsp;</h3>
                <div class="text-center"><img  th:src="@{'/image/'+${psu.id}}" th:alt="${psu.id}" width="340" height="300"></div>
                <div class="caption text-center">
                    <h3><b th:text="${psu.name}">Antminer S9</b></h3>
                    <p><b>Цена</b>  <div th:text="${psu.price}"/> рублей</p>
                    <br/>
                    <p>
                    <div onclick="show(1);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span> Подробней</div>
                    <div onclick="add_buy(1);" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab5">
        <div th:if="${(others==null) || (others.isEmpty())}" class="col-md-12 col-sm-12">
            <div class="page-header">
                <div class="alert alert-info">
                    <h2>Товар в данной категории отсутствует!</h2>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-sm-6" th:each="other : ${others}" >
            <div class="thumbnail">
                <h3 class=" text-right">
                    <span th:if="${(other.amount > psu.reserve) && (other.reserve!=0)}" class="label label-success" >&nbsp;На складе&nbsp;</span>
                    <span th:if="${other.reserve == 0}" class="label label-info">&nbsp;Под заказ&nbsp;</span>
                    <span th:if="${(other.amount <= other.reserve) && (other.reserve!=0) && (other.amount!=0)}" class="label label-warning">&nbsp;На складе остатки&nbsp;</span>
                    <span th:if="${(other.amount == 0) && (other.reserve!=0)}" class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>
                    &nbsp;</h3>
                <div class="text-center"><img  th:src="@{'/image/'+${other.id}}" th:alt="${other.id}" width="340" height="300"></div>
                <div class="caption text-center">
                    <h3><b th:text="${other.name}">Antminer S9</b></h3>
                    <p><b>Цена</b>  <div th:text="${other.price}"/> рублей</p>
                    <br/>
                    <p>
                    <div onclick="show(1);" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-search"></span> Подробней</div>
                    <div onclick="add_buy(1);" class="btn btn-success" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab6">
        <div class="page-header">
            <div class="alert alert-info">
                <h2>Корзина пуста!</h2>
            </div>

        </div>
    </div>

    <div class="row" id="info">
        <div class="col-md-12 col-sm-12">

            <div class="col-md-4 col-sm-12">
                <div class="thumbnail text-center">

                    <img th:src="@{'/image/1'}" th:alt="1" width="340" height="300" onclick="zoom();"><br/>
                    <ul class="pagination ">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="thumbnail">
                    <h3 class=" text-right"><span class="label label-danger">&nbsp;Нет в наличие&nbsp;</span>&nbsp;</h3>
                    <div class="caption text-center">
                        <h3>Antminer S9</h3>
                        <p>Цена 150000 рублей</p>
                        <br/>
                        <div class=" text-right">
                            <div class="btn btn-success" onclick="add_buy(1);" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</div>
                            <div class="btn btn-warning" onclick="main();"><span class="glyphicon glyphicon-circle-arrow-left"></span> К списку</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="zoom">
        <div class="col-md-12 col-sm-12">

            <div class="thumbnail text-center">
                <div class="btn btn-danger pull-right" onclick="show(1);"><span class="glyphicon glyphicon-remove"></span> Закрыть</div>
                <img th:src="@{'/image/1'}" th:alt="1" width="700" height="800"><br/>
                <ul class="pagination ">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<!--modal window-->
<!--<div id="infoModal" class="modal fade">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h2 class="modal-title text-center">Всё получилось =)</h2><br/>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="col-md-4 col-sm-4"><p>kq;jwekqjw;ekq;wekqjwe;qkjwe;lqjwelkqjwe</p></div>-->
                <!--<div class="col-md-8 col-sm-8"><p>weq';wleq;wlkeq;'wke';qlkwe';qlkwe'qkw;lekq;'wek'q;welkq'welkq';wekl</p></div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button class="btn btn-warning" type="button" data-dismiss="modal">Закрыть</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



<!--footer-->
<div th:insert="footer :: bottom"></div>
</body>
</html>